.filter {
    &._active {
        .filter__hide {
            margin-top: 0.5rem;
            height: var(--Heigth);
        }
    }

    &__show {
        cursor: pointer;
        font-weight: 500;
    }

    &__hide {
        display: flex;
        flex-direction: column;
        row-gap: 0.25rem;
        transition: 400ms;
        overflow: hidden;
        height: 0;
    }
}