@import './../../styles/vars';

.authorization {
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem $box_shadow_color;
    margin: 0 auto;
    padding: 1.75rem 2.25rem;
    max-width: 500px;

    &__title {
        text-align: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        row-gap: 0.75rem;
    }

    &__button {
        align-self: flex-start;
        padding-left: 1.33rem;
        padding-right: 1.33rem;
    }

    &__links {
        display: flex;
        justify-content: space-between;
        margin-top: 1.25rem;
    }
}