@import './../../styles/vars';

.review {
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.25rem $box_shadow_color;
    padding: 1rem;

    &__image {
        margin-right: 1rem;

        img {
            border-radius: 50%;
            width: 100%;
            max-width: 4rem;
        }
    }

    &__top {
        display: flex;
        margin-bottom: 0.75rem;
    }

    &__raiting {
        margin-left: auto;
    }
}