@import './../../styles/vars';

.product {
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    transition: 300ms;

    &:hover {
        box-shadow: 0 0 0.33rem $box_shadow_color;
    }

    &__image {
        padding-top: 75%;
        position: relative;
        overflow: hidden;
        margin-bottom: 1rem;

        &:hover {
            img {
                transform: scale(1.25);
            }
        }

        img {
            transition: 800ms;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__title {
        font-size: 1.1rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
    }
}