@import './../../styles/vars';

.form {
    box-shadow: 0 0.25rem 0.25rem $box_shadow_color;
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
    padding: 1rem;

    &__button {
        align-self: flex-start;
    }
}