.search {
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 600px;

    &__input {
        border-radius: 0.75rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &__button {
        border-radius: 0.75rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}