* {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.1;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input,
textarea {
    border: 0;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: textfield;
}

input::-ms-clear {
    display: none;
}

a {
    outline: none;
    color: #000;
    text-decoration: none;
}

button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

ul,
ol {
    list-style: none;
}

textarea {
    resize: none;
}