$box_shadow_color: rgb(240, 240, 240);

$ui_color: rgb(33, 184, 44);
$ui_color_hover: rgb(27, 160, 37);
$ui_color_active: rgb(23, 132, 34);

$ui_color_second: rgb(255, 255, 255);

$ui_color_third: rgb(0, 0, 0);

$ui_color_fourth: rgb(10, 185, 255);

$error_color: rgb(242, 20, 30);

$red_color: rgb(255, 30, 30);
$red_color_hover: rgb(240, 20, 20);
$red_color_active: rgb(225, 10, 10);

$banner_blackout: rgba(0, 0, 0, 0.55);

.pt-0 {
    padding-top: 0;
}