@import './../../styles/vars';

.link {
    color: $ui_color_third;
    transition: 200ms;

    &_style_blue {
        color: $ui_color_fourth;
    }

    &:hover {
        color: $ui_color;
    }

    &:active {
        color: $ui_color_active ;
    }
}