@import './../../styles/vars';

.product {
    &__content {
        border-radius: 0.25rem;
        box-shadow: 0 0.25rem 0.25rem $box_shadow_color;
        display: flex;
        align-items: flex-start;
        // flex-wrap: wrap;
        grid-gap: 1rem 5rem;
        padding: 1rem;
    }

    &__images {
        width: 100%;
        max-width: 30rem;
    }

    &__info {
        flex-grow: 1;
    }

    &__amount {
        margin-bottom: 1.5rem;

        &_application {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            grid-gap: 0.75rem;
        }
    }

    &__price {
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 0.75rem;
    }

    &__info_list {
        display: flex;
        flex-direction: column;
        row-gap: 0.33rem;
        margin-bottom: 0.33rem;
    }

    &__info_item {
        display: flex;
        column-gap: 0.25rem;
    }

    &__description {
        margin-top: 0.25rem;
    }

    @media (max-width: 1440px) {
        &__images {
            max-width: 25vw;
        }
    }

    @media (max-width: 1024px) {
        &__content {
            column-gap: 1rem;
        }

        &__images {
            max-width: 30vw;
        }
    }

    @media (max-width: 700px) {
        &__content {
            flex-direction: column;
        }

        &__images {
            margin: 0 auto;
            max-width: 15rem;
        }
    }
}