.catalog {
    display: grid;
    grid-gap: 1.25rem;
    grid-template-columns: repeat(5, 1fr);

    @media (max-width: 1366px) {
        grid-gap: 1rem;
        grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 600px) {
        grid-template-columns: repeat(2, 1fr);
    }
}