.cart {
    &__content {
        display: flex;
        align-items: flex-start;
        grid-gap: 3rem;
        flex-wrap: wrap;
    }

    &__product {
        flex-grow: 1;
    }

    &__links {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }
}